<template name='bucketCard'>
  {{#if card.items}}
    <div class="card text-xs-center">
      {{#if card.name}}
        <div class="card-header">
          <h3 class="card-title">{{card.name}}</h3>
        </div>
      {{/if}}
      <div class="card-block">
        <div class="row">
          {{#each item in card.items }}
            <div class="col-md-{{col}}">
              {{> Template.dynamic template=card.template data=item}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>  
  {{/if}}
</template>
