<template name='menu'>
  <div class="card card-block menu">
    {{#if pause}}
      <button class="btn btn-primary-outline mdi mdi-play "></button>
    {{else}}
      <button class="btn btn-primary-outline mdi mdi-pause card-link"></button>
    {{/if}}
    {{#if saving}}
      <button class="btn btn-success-outline mdi mdi-check"></button>
    {{else}}
      <button class="btn btn-primary-outline mdi mdi-content-save"></button>
    {{/if}}
    
    <button class="btn btn-primary-outline mdi mdi-replay"></button>
  </div>
</template>