<template name='menu'>
  <div class="card card-block menu">
    {{#if pause}}
      <button class="btn btn-primary-outline mdi mdi-play "></button>
    {{else}}
      <button class="btn btn-primary-outline mdi mdi-pause card-link"></button>
    {{/if}}
    <button class="btn btn-primary-outline mdi mdi-content-save" data-toggle="tooltip" data-placement="bottom" title="Save Game"></button>
    <button class="btn btn-primary-outline mdi mdi-replay" data-toggle="tooltip" data-placement="bottom" title="Reset Game"></button>
  </div>
</template>