<template name='tribalTab'>
  <div class="row p-t-1 ">
    <div class="col-md-3">
      {{#with explore}}
        {{> action }}
      {{/with}}
      {{#if items}}
        <ul class="nav nav-pills nav-stacked card">
          {{#each items}}
          <li class="nav-item tribalTab">
            <a class="nav-link {{active}}" href=""> {{name}} </a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <div class="col-md-9">
      {{#with currentItem}}
        {{> tribalTabItem }}
      {{/with}}
    </div>
  </div>
</template>

<template name='tribalTabItem'>
  {{#if getValue}}
    <progress class="progress progress-{{status}}" value="{{getValue}}" max="100"></progress>
  {{/if}}
    <div class="row">
      {{#if canAttack}}
        <div class="col-md-4">
          <button class="btn btn-primary btn-lg btn-block attack" disabled='{{attackNotReady}}'>
          {{#unless attackNotReady}}
            Attack
          {{else}}
            <progress class="progress progress-striped" value="{{attackCount}}" max="100"></progress>
          {{/unless}}
          </button>
        </div>
      {{/if}}
      {{#if canBribe}}
        <div class="col-md-4">
          <button class="btn btn-primary btn-lg btn-block bribe" disabled='{{bribeNotReady}}'>Bribe</button>
        </div>
      {{/if}}
      {{#if canTrade}}
      <div class="col-md-4">
        <button class="btn btn-primary btn-lg btn-block trade" disabled='{{tradeNotReady}}'>Trade</button>
      </div>
      {{/if}}
      {{#if canMerge}}
        <div class="col-md-4">
          <button class="btn btn-primary btn-lg btn-block merge" disabled='{{disabled}}'>Merge</button>    
        </div>
      {{/if}}
    </div>
    <div class="row">
      <dl class="p-t-1">
        <dt class="col-sm-3">Disposition</dt>
        <dd class="col-sm-9">{{disposition}}</dd>
        <dt class="col-sm-3">Opinion</dt>
        <dd class="col-sm-9">{{dispositionValue}}</dd>
        {{#if canSeeTrade}}
          <dt class="col-sm-3">Needs</dt>
          <dd class="col-sm-9">{{needs}}</dd>
          <dt class="col-sm-3">Offers</dt>
          <dd class="col-sm-9">{{offers}}</dd>
        {{/if}}
      </dl>
    </div>
</template>